.booking-info{
    width: 90%;
}
.dashboard-container {
    display: flex;
    flex-direction: row;
}
.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}
.Staff-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
.Staff-content-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: auto;
}
.Staff-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Staff-content-header h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: xx-large;
    font-weight: 700;
}
Label {
    width: 8rem;
}
.group{
    margin: 1px;
}
input[type="text"]:disabled,
input[type="email"]:disabled{
    background: none;
    border: none;
}
input{
    background: none;
}
